body {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.p-b-sm {
  padding-block: 2px;
}

.p-b-normal {
  padding-block: 4px;
}

.p-b-md {
  padding-block: 8px;
}

.p-b-lg {
  padding-block: 16px;
}

.p-b-xl {
  padding-block: 32px;
}

.p-b-xxl {
  padding-block: 64px;
}

.p-b-auto {
  padding-block: auto;
}

.p-i-sm {
  padding-inline: 2px;
}

.p-i-normal {
  padding-inline: 4px;
}

.p-i-md, .card-text {
  padding-inline: 8px;
}

.p-i-lg {
  padding-inline: 16px;
}

.p-i-xl {
  padding-inline: 32px;
}

.p-i-xxl {
  padding-inline: 64px;
}

.p-i-auto {
  padding-inline: auto;
}

.m-b-sm {
  margin-block: 2px;
}

.m-b-normal {
  margin-block: 4px;
}

.m-b-md {
  margin-block: 8px;
}

.m-b-lg {
  margin-block: 16px;
}

.m-b-xl {
  margin-block: 32px;
}

.m-b-xxl {
  margin-block: 64px;
}

.m-b-auto {
  margin-block: auto;
}

.m-i-sm {
  margin-inline: 2px;
}

.m-i-normal {
  margin-inline: 4px;
}

.m-i-md, .navbar ul li {
  margin-inline: 8px;
}

.m-i-lg, .card {
  margin-inline: 16px;
}

.m-i-xl {
  margin-inline: 32px;
}

.m-i-xxl {
  margin-inline: 64px;
}

.m-i-auto {
  margin-inline: auto;
}

.btn_blue {
  background-color: #0e6cff;
  border: 2px solid #0054d7;
  cursor: pointer;
}

.btn_orange {
  background-color: #ff8700;
  border: 2px solid #cc6c00;
  cursor: pointer;
}

.btn_green {
  background-color: #4caf50;
  border: 2px solid #3d8c40;
  cursor: pointer;
}

@keyframes discesa {
  0% {
    opacity: 0%;
    transform: translateY(-30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
}

.flex-3 {
  display: flex;
}
.flex-3 > li {
  width: 33.3333333333%;
}

.navbar ul li {
  cursor: pointer;
}

.img {
  width: 100%;
  object-fit: cover;
}

.h-100 {
  height: 100%;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}

.flex-2 {
  display: flex;
}
.flex-2 > div {
  width: 50%;
}

.hero {
  color: #f4f4f4;
  height: 600px;
}

.bg-hero {
  background-color: #640fc5;
}

.hero-img {
  border: 1px solid black;
  box-shadow: 0px 4px 30px black;
  border-radius: 10px;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.flex-4 {
  display: flex;
}
.flex-4 > .card {
  width: 25%;
}

.card {
  border: 2px solid #640fc5;
  box-shadow: 0px 0px 30px #640fc5;
  border-radius: 10px;
  overflow: hidden;
}

.card:nth-of-type(1) {
  animation: discesa 0.3s 1s;
  animation-fill-mode: backwards;
}

.card:nth-of-type(2) {
  animation: discesa 0.3s 2s;
  animation-fill-mode: backwards;
}

.card:nth-of-type(3) {
  animation: discesa 0.3s 3s;
  animation-fill-mode: backwards;
}

.card:nth-of-type(4) {
  animation: discesa 0.3s 4s;
  animation-fill-mode: backwards;
}/*# sourceMappingURL=style.css.map */